/* style.css */
body {
  background-color: #86BD55;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30%; /* Move the paddingTop here */
}

img {
  width: 100%;
  height: auto;
}

