/* style.css */

/* Set the background color of the entire screen */
body {
  background-color: #eaeaea;
  color: #ffffff;
}

/* Container for tabs and content with padding and margin */
.tab-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Center the tab container */
.tabs {
  display: flex;
  justify-content: center;
}

/* Style for each tab button */
.tab-button {
  cursor: pointer;
  background-color: #ffffff;
  outline: none;
  padding: 12px 24px;
  width: 50%;
  text-align: center;
  font-size: 18px;
  color: #000000;
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px 8px 0 0;
  border-color: #fead3d;
}

.tab-button.active {
  background-color: #fead3d;
  color: #000000;
}

/* Additional styles for the tab content (adjust as needed) */
.tab-content {
  padding: 20px;
  border: 2px solid #fead3d;
  border-radius: 0 0 8px 8px;
  width: 100%;
}
