/* style.css */
body {
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.stall-info-container {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-items: flex-start;
  justify-items: flex-start;
  padding-bottom: 20px;
}

.green-block {
  height: 10vh;
  width: 100%;
  background-color: #86BD55;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card {
  width: 370px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.stall-info-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.back-icon {
  position: absolute;
  top: 3.5%;
}

.help-text {
  position: absolute;
  top: 3.5%;
  right: 7%;
}
