body {
  margin: 0;
  overflow: hidden;
}

.experiment-start-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86bd55;
  padding-top: 10dvh;
  padding-bottom: 10dvh;
}

.logo-start {
  max-width: 70vw;
  height: auto;
  align-self: center;
}

img {
  width: 100%;
  height: auto;
}
