/* style.css */

body {
  background-color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.verB-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #86bd55;
}

.verB-utility-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 5vh;
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100vw;
}

.cards-container-B {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: calc(65vh - 60px);
  padding-bottom: 2vh;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  margin: 0;
  overflow: scroll;
}

.stall-card-B {
  width: 90vw;
  height: 7vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
}
