/* style.css */

body {
  background-color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.verB-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #86bd55;
}

.verB-utility-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 5vh;
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100vw;
}
