.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #86bd55;
  padding: 2vh;
}

h1 {
  margin: 0;
  text-align: left;
  color: #ffffff;
  margin-left: 20px; /* Adjust the value as needed to move the text to the right */
}
